
    <img src="<%= params['picture'] %>" alt="none" class ="profile-pic">
    <ul>
      <li><%= params['name']%></li>
      <li><%= params['sex']%></li>
      <li><%= params['occupation']%></li>
      <li><%= params['lookingFor']%></li>
    </ul>

    <form action="//formspree.io/international.resource.help@gmail.com"
      method="POST">
     <label for="name">Name</label>
    <input type="text" name="name"><br>
    <label for="email">Email</label>
    <input type="email" name="_replyto"><br>
     <label for="_comments">Comments</label>
    <textarea name="_comments" rows="5" id="comments"></textarea><br>
    <input type="submit" value="Send"><br>
  </form>
